<div id="<%= dom_id series %>">
  <p>
    <strong>Title:</strong>
    <%= series.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= series.genre %>
  </p>

  <p>
    <strong>Seasons:</strong>
    <%= series.seasons %>
  </p>

  <p>
    <strong>First release:</strong>
    <%= series.first_release %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= series.director %>
  </p>

  <p>
    <strong>Shoot location:</strong>
    <%= series.shoot_location %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= series.country %>
  </p>


  <p>
    <strong>Description:</strong>
    <%= series.description %>
  </p>


</div>
