<div class="card bg-light" id="<%= dom_id series %>">
  <div class="card-body">
    <h3 class="card-title"><%= series.title %></h3>
    <br>
    <strong>Rating: </strong>
    <span class="badge rounded-pill bg-info text-dark"><%= series.over_all_rating %></span>
    
    <span> |
    <strong>Genre:</strong>
    <%= series.genre %>
    </span>

    <span> |
      <strong>Seasons:</strong>
      <%= series.seasons %>
    </span>

    <span> |
      <strong>First release:</strong>
      <%= series.first_release %>
    </span>

    <span> |
      <strong>Director:</strong>
      <%= series.director %>
    </span>

    <span> |
      <strong>Country:</strong>
      <%= series.country %>
    </span>
    <hr>
    <strong>Actors: </strong>
    <% series.actors.map(&:name).each do |actor| %>
        <span><%= actor %>, </span>
    <% end %>
    <hr>
    <strong>Shooting Locations: </strong>
    <% series.shoot_locations.map(&:name).each do |location| %>
        <span><%= location %>, </span>
    <% end %>
    <hr>
    <p><strong>About:</strong></p>
    <p class="card-text"><%= series.description %></p>
  </div>

  <div class='card-footer'>
    <%= link_to "Edit", edit_series_path(series), class: "btn btn-primary" %>
  </div>
</div>